# TODO: This manifest is currently broken. Get frontend working.
# TODO: Add ingress-routes and remove port-forwarding from deploy scripts
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: storepractice
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: storepractice-frontend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 4200
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: storepractice
spec:
  selector:
    app: frontend
  ports:
    - port: 4200
      targetPort: 4200
  type: ClusterIP